<div class='container'>
  <div class="page-header">
    <h2>My Comments</h2>
    <div class="btn btn-default"><%= link_to 'Back to Home', root_path %></div>
  </div>

<div class="row">
    <div class="col-md-12">
      <% if @comments.present? == false %>
        <h3> There are no comments to manage... </h3>
      <% end %>

      <% @comments.each do |comment| %>
        <h4>From Post Title: <%= comment.post.title %></h4><br>
        <div class-'btn-group'>
          <div class="btn btn-default"><%= link_to 'Edit', edit_post_comment_path(comment.post_id, comment) %></div>
          <div class="btn btn-default"><%= link_to 'Delete', post_comment_path(comment.post_id, comment), method: :delete, data: {confirm: 'Are you sure?'} %></div>
        <%= comment.content %><br>
      <% end %>
    </div>
  </div>
</div>



