<div class='my_comments'>

<h1>My Comments</h1>

<%= link_to 'Back to Homepage', root_path %>

<% if @comments.present? == false %>
  <p> There are no comments to manage... </p>
<% end %>

  <ul>
    <% @comments.each do |comment| %>
      From Post Title: <%= comment.post.title %><br>
      <%= link_to '|Edit|', edit_post_comment_path(comment.post_id, comment) %>
      <%= link_to '|Delete|', post_comment_path(comment.post_id, comment), method: :delete, data: {confirm: 'Are you sure?'} %>
      <%= comment.content %><br>
    <% end %>

  </ul>



</div>
