<% if user_signed_in? %>

    <%= form_for @post do |f| %>
      <%= f.label :title %> <br>
      <%= f.text_field :title, size: 30 %> <br>
      <%= f.label :content %> <br>
      <%= f.text_area :content, cols: 100, rows: 10 %> <br><br>
      <%= f.submit %>

    <% end %>

  <% end %>
</div>
