<%= link_to 'Add Post', new_post_path %>
<%= link_to 'Manage Posts', users_posts_manager_path %>

<div class='weather'>
</div>

<div class='posts'>
  <ul>
    <% @posts.each do |post| %>
    <li> <%= post.title %> </li>
       <small><%= post.content %><br></small>
       <small><%= post.url %></small>
    <% end %>
  </ul>
</div>

<div class='instagram'>
  <% @pics.map do |pic| %>
  <td> <%= link_to image_tag(pic['images']['standard_resolution']['url'], size: "360x360"), pic['link'] %>
  </td>
  <% end %>
</div>

<div class='articles'>
  <% @entry.map do |entry| %>
  <li> <%= link_to entry.title, entry.url %> </li>
  <% end %>
</div>
