<ul>
      <% @posts.each do |post| %>
      <li> <%= post.title %> </li>
        <small> <%= post.content %> </small><br>
        <small> <%= post.url %> </small><br>
        <small> <%= post.user.username %> </small><br>
        <small> <%= post.created_at %> </small><br>
        <%= link_to 'Comments', post_comments_path(post) %>
      <% end %>
    </ul>
