<div class='container'>
  <div class="page-header">
    <h2>All Posts</h2>
    <button type="button" class="btn btn-default"><%= link_to 'Back to Home', root_path %></button>
  </div>

  <% @posts.each do |post| %>
    <h3><%= link_to post.title, post_comments_path(post) %></h3> </li>
    <p><%= post.content %></p> <br>
    <small> Post by: <%= post.user.username %> </small>
    <small> Created on: <%= post.created_at.strftime("%m/%d/%Y %I:%M %p") %> <br>
    Comments <%= post.comments.count %></small><br><br>
  <% end %>
</div>


