<div class='text-center'>
  <h2>Add a New Post!</h2>

  <% if user_signed_in? %>

    <%= form_for @post do |f| %>
      <%= f.label :title %> <br>
      <%= f.text_field :title %> <br>
      <%= f.label :content %> <br>
      <%= f.text_area :content %> <br><br>
      <%= f.submit %>

    <% end %>

  <% end %>
</div>
